html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*



*/

body {
  display: flex;
  justify-content: center;
}

#contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  background-color: aqua;
  border: 3px solid red;
  justify-items: center;
}

#titleContainer {
  height: 15vh;
  grid-column: span 2;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gameboardContainer > div {
  border: 1px solid rgb(19, 19, 19);
}

.formBoardHolder {
  border: 1px solid rgb(19, 19, 19);
  z-index: 9;
}

h1 {
  font-size: 6vw;
  font-weight: 700;
  grid-column: span 2;
  color: rgb(0, 12, 65);
}

#paraText {
  font-size: 3vw;
  font-weight: 500;
  grid-column: span 2;
  text-align: center;
  color: rgb(0, 12, 65);
}

#nameSubmit {
width: 35vw;
height: 12vh;
margin-left: 2vw;
padding: 0;
border: 0;
font-size: 4vw;
text-align: center;
background-color: rgb(0, 12, 65);
color: rgb(80, 150, 255);
border-radius: 2rem;
}

#playerNameInput {
  width: 35vw;
  height: 12vh;
  padding: 0;
border: 0;
color: rgb(0, 12, 65);
font-size: 4vw;
text-align: center;
border-radius: 2rem;
}

#nameForm {
  grid-column: span 2;
  grid-row-start: 4;
}

.gameboardContainer {
  grid-column: span 1;
  display: flex;
  justify-content: center;

}

.rowHolder {
  display: flex;
}
#informationContainer {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 35vw 5vw 35vw;
  text-align: center;
  font-size: 2vw;
  width: 75vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#playerTwoGameboardContainer > div > div > div.square:hover {
  background-color: rgb(238, 174, 0);
}

.square {
  background-color: rgb(12, 166, 255);
  border: 1px solid rgb(19, 19, 19);
  width: min(3vh, 3vw);
  height: min(3vh, 3vw);
}

.valid {
  background-color: aquamarine;
}


#playerTwoGameboardContainer > div > div > div.square.hitShipSquare {
  background-color: rgb(173, 0, 0);
}

#playerTwoGameboardContainer > div > div > div.square.missedSquare {
  background-color: rgb(0, 255, 85);
}

.invalid {
  background-color: red;
}

.shipSquare {
  background-color: rgb(24, 24, 24);
}

.hitShipSquare {
  background-color: rgb(173, 0, 0);
}

.missedSquare {
  background-color: rgb(0, 255, 85);
}

.overlay {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  padding: 5vw;
  background-color: rgb(80, 150, 255);
  border: 3px solid rgb(0, 12, 65);
  width: 80vw;
  height: 80vh;

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 15vw 1fr;

justify-items: center;
align-items: center;
}

.shipDisplay {
  background-color: black;
  grid-column: span 1;
  grid-row-start: 2;
}
.ship-5.horizontal {
  height: 3vw;
  width: 15vw;
}

.ship-5.vertical {
  height: 15vw;
  width: 3vw;
}

.ship-4.horizontal {
  height: 3vw;
  width: 12vw;
}

.ship-4.vertical {
  height: 12vw;
  width: 3vw;
}

.ship-3.horizontal {
  height: 3vw;
  width: 9vw;
}

.ship-3.vertical {
  height: 9vw;
  width: 3vw;
}

.ship-2.horizontal {
  height: 3vw;
  width: 6vw;
}

.ship-2.vertical {
  height: 6vw;
  width: 3vw;
}

.verticalButton {
  border-radius: 3vw;
  height: 5vh;
  width: 20vw;

  grid-column: span 1;
  grid-row-start: 3;
}

.formBoardHolder {
  grid-row: span 2 / 4;
  grid-row-start: 2;
}

.shipText {
  grid-row-start: 1;
  grid-column: span 1;
}